@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookViewModel
<div>
    <h1 class="display-6">Name of preffered book: @Model.BookName</h1>
    <h1 class="display-6">Author: @Model.Author</h1>
    <h1 class="display-6">Count Pages of preffered book: @Model.CountOfPages pages</h1>
</div>

